/******************   SETTINGS & AVA   ***************************/

.settings{
	display: flex;
	align-items: center;
}

.ava{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.settings p{
	margin: 0 15px;
}