/******************   Dialogue   ***************************/
.dialogue{
	width: 50%;
	margin: 0 30px;
	border-radius: 5px;
	background-image: url(../../../images/trip2.jpg);
}

.dialogueBackground{
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	border-radius: 5px;
}


.dialogue h2{
	text-align: center;
	color: #fff;
}
