/******************   HEADER   ***************************/
header{
	background-color: #2D2D2D;
	position: sticky;
	top: 0px;
	z-index: 1;
}

.headerInner{
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
	align-items: center;
}




