.newPost{
	width: 100%;
	height: auto;
	background-color: #fff;
	border-radius: 5px;
}

.newPost textarea{
	resize: none;
	margin: 0 auto;
	display: block;
	padding: 10px 10px;
	outline: none;
	border-radius: 5px;
	width: 93%;
	font-family: "Open sans", sans-serif;
}

.newPost button{
	margin: 10px 0 20px 25px;
	padding: 10px 15px;

	color: #fff;
	background-color: #fb7552;

	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;

	font-weight: 600;
	font-size: 14px;

	opacity: 0.8;
	transition: opacity 0.2s;
}

.newPost button:hover{
	opacity: 1;
	transition: opacity 0.2s;
}