	
/******************   Dialogue   ***************************/

/******************   DialogueHeader   ***************************/


.dialogue{
	width: 50%;
	margin: 0 30px;
	border-radius: 5px;
	background-image: url(../../../images/trip2.jpg);
}

.dialogueBackground{
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	border-radius: 5px;

}

.dialogueHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #A6A6A6;
	margin: 0 10px;
}

.dialogueUser{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.dialogueUser p{
	display: block;
	margin-left: 15px;
}

.dialogueUser a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
}

.dialogueHeader img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.dialogueSearch {
	display: flex;
}

.dialogueSearch textarea{
	border: 1px solid #A6A6A6;
	border-radius: 20px;
	outline: 0;
	background: none;
	padding: 5px 10px;
	height: 30px;
	color: #A6A6A6;
	margin-right: 10px;
	resize: none;
}

.dialogueSearch button{
	background-color: #A6A6A6;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: 0;
}

.dialogueSearch button:active{
	background-color: #828282;
}

.dialogueSearch img{
	width: 20px;
	height: 20px;
}

/******************   DialogueMain   ***************************/

.dialogueMain{
	margin: 20px 0;
	overflow: auto;
	clear: both;
	height: 411px;

}

.you{
	margin-top: 40px;
}

.dialogueCompanionMessage{
	margin: 0 50% 15px 10px;
	float: left;
}

.dialogueCompanionMessage p,
.dialogueYourMessage p{
	text-align: center;
	padding: 15px;
	border: 1px solid #FF7556;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	border-radius: 20px;
	width: 200px;
	word-wrap: break-word;
	line-height: 22px;
}

.dialogueYourMessage {
	float: right;
	margin: 0 10px 15px 50%;

}

/******************   DialogueFooter   ***************************/
.dialogueFooter{
	margin: 10px 20px;
	display: flex;
	align-items: center;
}

.dialogueFooter textarea{
	border: 1px solid #FF7556;
	border-radius: 20px;
	outline: 0;
	background: none;
	padding: 5px 10px;
	height: 100%;
	width: 90%;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	font-family: "Open Sans" sans-serif;
	resize: none;
}

.dialogueFooter button{
	margin: 10px 10px;
    padding: 10px 15px;
    color: #fff;
    background-color: #fb7556;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.dialogueFooter button:hover{
    opacity: 1;
    transition: opacity 0.2s;
}