.dialogues{
	width: 25%;
	background-color: #fff;
	border-radius: 5px;
	overflow: auto;
	height: 402px;
}

.dialoguesTitle{
	border-bottom: 1px solid #E7E7E7;
}

h2{
	padding: 25px 0 25px 20px;
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

.userMessage{
	display: flex;
}


.linkWrap{
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 12px 20px;
	border-bottom: 1px solid #E7E7E7;
	transition: all 0.2s;
}

.chat:hover{
	background-color: rgba(251, 117, 82, 1);
	transition: all 0.2s;
}

.chat:hover p{
	color: #fff;
	transition: all 0.2s;
}

.chat a{
	text-decoration: none;
	color: #A6A6A6;
}

.nameChat{
	margin-left: 25px;
	color: #000;
	font-weight: 600;
	font-size: 16px;
}

.nameChat a{
	display: block;
	height: 100%;
}

.avaChat img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.message{
	margin-left: 15px;
	margin-top: 10px;
	color: #000;
	max-width: 150px;
}