/******************   EXPLORE EVENTS  ***************************/


.exploreEvents{
	width: 100%;
	margin: 25px 0;
}

.events{
	display: flex;
	flex-wrap: wrap;
}

.event{
	margin: 5px;
}

.event img:hover{
	box-shadow: 0 0 15px rgba(251, 117, 82, 1);
}
